<div class="header-blue">
    <div class="container hero">
        <div class="row device">
                <h1>Select  Cloud </h1>
                
            </div>
                <div class="cloud-card">
                <div class="card device">
                    <div class="box" style="background-image: url(../../assets/aws.png);" (click)="onClickAws()">
                    </div>
                    <div class="card-label">
                        <h3 style="color: black; text-align: center;">AWS</h3>
                    </div>
                </div>
                  
                <div class="card device">
                    <div class="box" style="background-image: url(./../assets/Azure.png);" (click)="onClickAzure()">
                    </div>
                    <div class="card-label">
                        <h3 style="color: black; text-align: center;">Azure</h3>
                    </div>
                </div>

                <div class="card device">
                    <div class="box" style="background-image: url(./../assets/gcp.jpg);" (click)="onClickGcp()">
                    </div>
                    <div class="card-label">
                        <h3 style="color: black; text-align: center;">GCP</h3>
                    </div>
                </div>
            </div>
            </div>
        </div>

