<div *ngIf="action !== 'Delete'; else AccountNameField" id="wrap" class="input">
    <header class="input-header">
        <h1>Provide Azure Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Azure Credentials<span>Azure</span></h2>
        <form  class="form" [formGroup]="createForm" (ngSubmit)="onNextAks()">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" formControlName="User_name" placeholder="User Name" name="User Name" >
            <div class="form-text validation-message text-danger" *ngIf=" Username.errors?.['required'] && (Username.touched || Username.dirty)">
                Please enter Username
            </div>

                <label for="name">Account Name</label>            
                <div class="tooltip-container">
                    <select *ngIf="action !== 'Add'; else InputField" class="form__inset" formControlName="account_name">
                        <option value="" disabled selected>Select Account Name</option>
                        <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                    </select>
                </div>
                <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
                  Please select Account Name
                </div>
                <ng-template #InputField>
                  <input class="form__inset" type="text" formControlName="account_name" placeholder="Account Name" name="Account Name">
                </ng-template>
              
            <!-- <label for="name">Account Name</label>            
            <mat-icon matTooltip="You need to create an account first" class="info-icon">info</mat-icon>
            <select *ngIf="action !== 'Add'; else InputField" class="form__inset" formControlName="account_name">
              <option value="" disabled selected>Select Account Name</option>
              <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
            </select>
            <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
              Please select Account Name
            </div>
            <ng-template #InputField>
            <input class="form__inset" type="text" formControlName="account_name" placeholder="Account Name" name="Account Name">
            </ng-template>
             -->

            <label for="name">Subscription Id</label>
            <input class="form__inset" type="text" formControlName="subscription_id" placeholder="Subscription Id" name="Subscription Id" >
            <div class="form-text validation-message text-danger" *ngIf="subscriptionId.errors?.['required'] && (subscriptionId.touched || subscriptionId.dirty)">
                Please enter Subscription Id
            </div>

            <label for="name">Client Id</label>
            <input class="form__inset" type="text" formControlName="client_id" placeholder="Client Id" name="Client Id" >
            <div class="form-text validation-message text-danger" *ngIf=" ClientId.errors?.['required'] && (ClientId.touched || ClientId.dirty)">
                Please enter Client Id
            </div>

            <label for="name">Client Secret</label>
            <input class="form__inset" type="text" formControlName="client_secret" placeholder="Client Secret" name="Client Secret" >
            <div class="form-text validation-message text-danger" *ngIf=" ClientSecret.errors?.['required'] && (ClientSecret.touched || ClientSecret.dirty)">
                Please enter Client Secret
            </div>

            <label for="name">Tenant Id</label>
            <input class="form__inset" type="text" formControlName="tenant_id" placeholder="Tenant Id" name="Tenant Id" >
            <div class="form-text validation-message text-danger" *ngIf=" TenantId.errors?.['required'] && (TenantId.touched || TenantId.dirty)">
                Please enter Tenant Id
            </div>
            <div *ngIf="showProgressBar" class="loading-overlay">
                <div class="loader"></div>
                <p class="loading-text">Just a moment! Checking Credentials...</p>
              </div>
        </form>
      
        <div class="btns">
            <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            <button class="btn btn-confirm" [disabled]="createForm.invalid" (click)="onNextAks()">{{action}}</button>
        </div>
    </section>
</div>

<ng-template #AccountNameField>
    <div id="wrap" class="input">
        <header class="input-header">
            <h1>Provide Azure Credentials</h1>
        </header>
        <section class="input-content">
            <h2>Provide Azure Credentials<span>Azure</span></h2>
    <form *ngIf="action === 'Delete'; else AccountNameField" class="form" [formGroup]="createForm" (ngSubmit)="onNextAks()">
      
            <label for="name">Account Name</label>            
            <div class="tooltip-container">
                <select class="form__inset" formControlName="account_name">
                    <option value="" disabled selected>Select Account Name</option>
                    <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                </select>
            </div>
            <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
              Please select Account Name
            </div>

        <div *ngIf="showProgressBar" class="loading-overlay">
            <div class="loader"></div>
            <p class="loading-text">Just a moment! Checking Credentials...</p>
          </div>
    </form>    
    <div class="btns">
        <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
        <button class="btn btn-confirm" [disabled]="createForm.get('account_name')?.value === ''" (click)="onNextAks()">{{action}}</button>
    </div>
</section>
</div>      
</ng-template>