<div *ngIf="action !== 'Delete'; else AccountNameField" id="wrap" class="input">
    <header class="input-header">
        <h1>Provide GCP Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Google Cloud Platform Credentials<span>GCP</span></h2>
        <form class="form" enctype="multipart/form-data"  [formGroup]="createForm" (ngSubmit)="onNextGke()">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" formControlName="User_name" placeholder="User Name" name="User Name">
            <div class="form-text validation-message text-danger" *ngIf=" Username.errors?.['required'] && (Username.touched || Username.dirty)">
                Please enter Username
            </div>

            <label for="name">Account Name</label>            
                <div class="tooltip-container">
                    <select *ngIf="action !== 'Add'; else InputField" class="form__inset" formControlName="account_name">
                        <option value="" disabled selected>Select Account Name</option>
                        <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                    </select>
                </div>
                <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
                  Please select Account Name
                </div>
                <ng-template #InputField>
                    <input class="form__inset" type="text" formControlName="account_name" placeholder="Account Name" name="Account Name">
                  </ng-template>

            <label for="name">Upload a JSON File</label>
            <input class="form__inset" type="file" (change)="upload($event)"  formControlName="jsonFile" placeholder="Upload a JSON File" name="Upload a JSON File" accept=".json">
            <div class="form-text validation-message text-danger" *ngIf=" JsonFile.errors?.['required'] && (JsonFile.touched || JsonFile.dirty)">
                Please upload json file
            </div>

            <div *ngIf="showProgressBar" class="loading-overlay">
                <div class="loader"></div>
                <p class="loading-text">Just a moment! Checking Credentials...</p>
              </div>
        </form>
        <div class="btns">
            <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            <button class="btn btn-confirm" [disabled]="createForm.invalid" (click)="onNextGke()" >{{action}}</button>
        </div>
    </section>
</div>

<ng-template #AccountNameField>
    <div id="wrap" class="input">
        <header class="input-header">
            <h1>Provide GCP Credentials</h1>
        </header>
        <section class="input-content">
            <h2>Provide Google Cloud Platform Credentials<span>GCP</span></h2>
            <form class="form" enctype="multipart/form-data"  [formGroup]="createForm" (ngSubmit)="onNextGke()">
    
                <label for="name">Account Name</label>            
                    <div class="tooltip-container">
                        <select class="form__inset" formControlName="account_name">
                            <option value="" disabled selected>Select Account Name</option>
                            <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                        </select>
                    </div>
                    <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
                      Please select Account Name
                    </div>
    
                <div *ngIf="showProgressBar" class="loading-overlay">
                    <div class="loader"></div>
                    <p class="loading-text">Just a moment! Checking Credentials...</p>
                  </div>
            </form>
            <div class="btns">
                <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                <button class="btn btn-confirm" [disabled]="createForm.get('account_name')?.value === ''" (click)="onNextGke()" >{{action}}</button>
            </div>
        </section>
    </div>
</ng-template>