<div class="card">
  <div class="card-heading">
  <span class="tag">{{cardTitle}}</span>
  <button class="add-button-style" (click)="onAdd()">Add</button>
</div>

<div class="account-dropdown">
  <label for="accountName">Account Name:</label>
  <select id="accountName" [(ngModel)]="accountName" class="dropdown" (change)="onAccountChange()">
    <option [value]="null" selected disabled>Select Account Name</option>
    <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
  </select>
</div>
<div *ngIf="showProgressBar" class="loading-overlay">
  <div class="loader"></div>
  <p class="loading-text">Loading...</p>
</div>

  <!-- <div *ngFor="let item of getObjectKeys(sampleData)" class="card-item">
    <strong>{{ item }}:</strong>
    <ng-container *ngIf="isObject(sampleData[item])">
      <div *ngFor="let nestedItem of sampleData[item] | keyvalue" class="nested-item">
        <strong>{{ nestedItem.key }}:</strong> {{ nestedItem.value }}
      </div>
    </ng-container>
    <ng-container *ngIf="isArray(sampleData[item])">
      <ul class="array-list">
        <li *ngFor="let arrayItem of sampleData[item] | keyvalue" class="array-item">
          <ng-container *ngIf="isObject(arrayItem.value)">
            <div *ngFor="let innerItem of arrayItem.value | keyvalue" class="inner-item">
              <strong>{{ innerItem.key }}:</strong> {{ innerItem.value }}
            </div>
          </ng-container>
          <ng-container *ngIf="!isObject(arrayItem.value)">
            {{ arrayItem.value }}
          </ng-container>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!isObject(sampleData[item]) && !isArray(sampleData[item])">
      {{ sampleData[item] }}
    </ng-container>
  </div> -->
  <div *ngIf="selectedAccountData" class="card-item">
    <strong>Selected Account Details:</strong>
    <ul>
      <li *ngFor="let key of getObjectKeys(selectedAccountData)">
        <strong>{{ key }}:</strong> {{ selectedAccountData[key] }}
      </li>
    </ul>
  </div>
</div>
<button class="button-style" (click)="onBack()">Back</button>
<button class="button-style" (click)="onUpdate()">Update</button>
<button class="button-style" (click)="onDelete()">Delete</button>
