.header-blue {
    background: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .dashboard{
    width: 100%;
  }
  @media (min-width:768px) {
    .header-blue {
      padding-bottom: 120px;
    }
   
  }
  
  .header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  @media (min-width:991px) {
    .header-blue .navbar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .dashboard{
      width: 50%;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color: transparent;
      margin: 0;
    }
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid #fff;
    border-radius: 40px;
    color: black;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    transition: transform 0.3s;
    outline: none;
    background: #fff;
  }
  
  .header-blue .action-button:hover {
    background: #fff;
    transform: translateY(-5px);
    color: black;
  }
  
  .header-blue .hero {
    margin-top: 0px;
    text-align: center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top: 0px;
      text-align: left;
    }
  }
  
  .header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 190px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  .header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .steps li{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .header-blue .phone-holder {
    text-align: right;
  }
  
  .header-blue div.iphone-mockup {
    position: relative;
    max-width: max-content;
    margin-top: 25px;
    display: inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
    width: 145%;
    height: auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    /* background: url(../../assets/img/screen-content-iphone-6.jpg); */
    background-size: cover;
    background-position: center;
  }
  
  .header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }

  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .device {
    animation-name: slideInFromBottom;
    animation-duration: 1s;
  }

 