<div *ngIf="action !== 'Delete'; else AccountNameField" id="wrap" class="input">
    <header class="input-header">
        <h1>Provide AWS Credentials</h1>
    </header>
    <section class="input-content">
        <h2>Provide Amazon Web Service Credentials<span>AWS</span></h2>
        <form class="form" [formGroup]="createForm" (ngSubmit)="onNextEks()">
            <label for="name">User Name</label>
            <input class="form__inset" type="text" formControlName="user_name" placeholder="User Name" name="User Name">
            <div class="form-text validation-message text-danger" *ngIf=" Username.errors?.['required'] && (Username.touched || Username.dirty)">
                Please enter Username
            </div>

            <label for="name">Account Name</label>            
            <div class="tooltip-container">
                <select *ngIf="action !== 'Add'; else InputField" class="form__inset" formControlName="account_name">
                    <option value="" disabled selected>Select Account Name</option>
                    <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                </select>
            </div>
            <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
              Please select Account Name
            </div>
            <ng-template #InputField>
              <input class="form__inset" type="text" formControlName="account_name" placeholder="Account Name" name="Account Name">
            </ng-template>

            <label for="name">Access Key</label>
            <input class="form__inset" type="text" formControlName="access_key" placeholder="Access Key" name="Access Key">
            <div class="form-text validation-message text-danger" *ngIf=" AccessKey.errors?.['required'] && (AccessKey.touched || AccessKey.dirty)">
                Please enter Access Key
            </div>
            <div class="form-text validation-message text-danger" *ngIf=" AccessKey.errors?.['invalidAccessKey'] && (AccessKey.touched || AccessKey.dirty)">
                Please enter valid Access Key
            </div>

            <label for="name">Secret Access Key</label>
            <input class="form__inset" type="text" formControlName="secret_access_key" placeholder="Secret Access Key" name="Secret Access Key">
            <div class="form-text validation-message text-danger" *ngIf=" SecretAccesskey.errors?.['required'] && (SecretAccesskey.touched || SecretAccesskey.dirty)">
                Please enter Secret Access Key
            </div>
            <div *ngIf="showProgressBar" class="loading-overlay">
                <div class="loader"></div>
                <p class="loading-text">Just a moment! Checking Credentials...</p>
              </div>
        </form>
        <div class="btns">
            <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            <button class="btn btn-confirm" [disabled]="createForm.invalid" (click)="onNextEks()">{{action}}</button>
        </div>
    </section>
</div>

<ng-template #AccountNameField>
    <div id="wrap" class="input">
        <header class="input-header">
            <h1>Provide AWS Credentials</h1>
        </header>
        <section class="input-content">
            <h2>Provide Amazon Web Service Credentials<span>AWS</span></h2>
            <form class="form" [formGroup]="createForm" (ngSubmit)="onNextEks()">
                
                <label for="name">Account Name</label>            
                <div class="tooltip-container">
                    <select class="form__inset" formControlName="account_name">
                        <option value="" disabled selected>Select Account Name</option>
                        <option *ngFor="let acc of accountNames" [value]="acc">{{ acc }}</option>
                    </select>
                </div>
                <div class="form-text validation-message text-danger" *ngIf="AccountName.errors?.['required'] && (AccountName.touched || AccountName.dirty)">
                  Please select Account Name
                </div>

                <div *ngIf="showProgressBar" class="loading-overlay">
                    <div class="loader"></div>
                    <p class="loading-text">Just a moment! Checking Credentials...</p>
                  </div>
            </form>
            <div class="btns">
                <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                <button class="btn btn-confirm" [disabled]="createForm.get('account_name')?.value === ''" (click)="onNextEks()">{{action}}</button>
            </div>
        </section>
</div>      
</ng-template>