<div class="header-blue">
    <div class="container hero">
        <div  class="row device">
            <h1 class="heading" style="font-weight: 600;">Let's get started with Cockpit Pro</h1>
        </div>
        <div class="cloud-card">
            <div class="card device">
                <div class="box" style="background-image: url(../../assets/images/appDeployment.svg);" (click)="onClickAppDeployment()">
                </div>
                <div class="card-label">
                    <h3 style="color: black; text-align: center; font-weight: 700;">Application Management</h3>
                </div>
            </div>

            <div class="card device">
                <div class="box" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/Kubernetes_logo_without_workmark.svg);" (click)="onClickClusterManagement()">
                </div>
                <div class="card-label" >
                    <h3 style="color: black; text-align: center; font-weight: 700;" >Cluster Management</h3>
                </div>
            </div>

            <div class="card device">
                <div class="box" style="background-image: url('https://d1fto35gcfffzn.cloudfront.net/images/products/observability/icon-obs-sky.svg');">
                </div>
                <div class="card-label">
                    <h3 style="color: black; text-align: center; font-weight: 700;">Monitoring</h3>
                </div>
            </div>
        </div>
    </div>
</div>