<div class="header-blue">
    <div class="container hero">
        <div  class="row device">
            <h1 class="heading" style="font-weight: 600;">Heading........?</h1>
        </div>
        <div class="cloud-card">
            <div class="card device">
                <div class="box" style="background-image: url(../../assets/images/appDeployment.svg);" (click)="onClickAppDeployment()">
                </div>
                <div class="card-label">
                    <h3 style="color: black; text-align: center; font-weight: 700;">Application Deployment</h3>
                </div>
            </div>

            <div class="card device">
                <div class="box" style="background-image: url(../../assets/images/clusterManagement.svg);" (click)="onClickClusterManagement()">
                </div>
                <div class="card-label" >
                    <h3 style="color: black; text-align: center; font-weight: 700;" >Cluster Management</h3>
                </div>
            </div>

            <div class="card device">
                <div class="box" style="background-image: url(./../assets/gcp.jpg);">
                </div>
                <div class="card-label">
                    <h3 style="color: black; text-align: center; font-weight: 700;">Heading</h3>
                </div>
            </div>
        </div>
    </div>
</div>